:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --hero-adress-title-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
}

/* Site nav */

.site-nav .link {
  color: var(--title-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.mail,
.tel {
  color: var(--primary-text-color);
}

.mail:hover,
.tel:hover,
.mail:focus,
.tel:focus {
  color: var(--accent-color);
}

/* Header */

.logo-half-one {
  color: var(--accent-color);
}

.logo-half-two {
  color: #000;
}

.list {
  list-style: none;
}
